@font-face {
    font-family: 'Sawarabi Mincho';
    src: local('Sawarabi Mincho'),
         url('../fonts/sawarabi-mincho/sawarabi-mincho-medium.woff2') format('woff2');
    font-weight: normal;
    unicode-range: U+3000-303F, U+3040-309F, U+30A0-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

